html {
  font-family: Helvetica;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h1, div h2, .price {
  font-weight: bold;
}

/* Each section's title */
div h2 {
  font-size: 32px;
  color: white;
}

/* Brushes section title */
.brushes {
  background-color: MediumSpringGreen;
}

/* Frames section title */
.frames {
  background-color: LightCoral;
}

/* Paint section title */
.paint {
  background-color: SkyBlue;
}

/* Products price */
.price {
  color: Blue;
}
